NEXT_PUBLIC_SELF_APP_NAME="Self LayerZero Demo"
NEXT_PUBLIC_SELF_SCOPE="self-workshop"
NEXT_PUBLIC_SOURCE_CONTRACT=
NEXT_PUBLIC_DEST_CONTRACT=
NEXT_PUBLIC_SOURCE_EXPLORER=https://celoscan.io
NEXT_PUBLIC_DEST_EXPLORER=https://basescan.org

SOURCE_RPC=https://forno.celo.org
DEST_RPC=https://mainnet.base.org
